[module/wireless]
type = internal/network
interface = wlan0
interval = 1

ramp-signal-0 = 󰤯
ramp-signal-1 = 󰤟
ramp-signal-2 = 󰤢
ramp-signal-3 = 󰤥
ramp-signal-4 = 󰤨
ramp-signal-padding = 2

format-connected = <ramp-signal>

format-packetloss = <ramp-signal>

format-disconnected = <label-disconnected>

label-disconnected =

#####################################################################

[module/wired]
type = internal/network
interface = enp14s0
interval = 1

label-connected = 󰌘
label-disconnected =

format-connected = <label-connected>
format-connected-padding = 2

format-disconnected = <label-disconnected>

#####################################################################

[module/title]
type = internal/xwindow

format = <label>
format-foreground = ${color.fg_alt}
format-background = ${color.bg_alt}
format-prefix = 
format-prefix-foreground = ${color.bg}

label = %title:0:70:...%
label-padding = 2
label-empty =

#####################################################################

[module/date]
type = custom/script
exec = "/usr/bin/date '+%a, %d %B'"
interval = 2

label = "󰃭  %output%"
click-left = "~/.config/userscripts/popup-calendar.sh --popup &"

format = <label>
format-padding = 2

#####################################################################

[module/time]
type = internal/date
time = "%R"

label = "󰀠  %time%"
label-padding = 2

format = <label>

#####################################################################

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = scroll lock

label-layout = %icon%
layout-icon-default =
layout-icon-0 = "us;ENG"
layout-icon-1 = "ru;РУС"
label-layout-padding-left = 1

label-indicator-on-numlock = 󰰓
label-indicator-on-numlock-padding-left = 1

label-indicator-off-numlock = 󰰔
label-indicator-off-numlock-padding-left = 1

label-indicator-off-capslock = 󰯳
label-indicator-off-capslock-padding-left = 1

label-indicator-on-capslock = 󰯲
label-indicator-on-capslock-padding-left = 1

format = <label-indicator><label-layout>
format-foreground = ${color.fg}
format-padding = 2

#####################################################################

[module/workspaces]
type = internal/xworkspaces
pin-workspaces = false
enable-click = true

label-active = 󰄯
label-active-padding = 1
label-active-background = ${color.bg_alt}
label-active-foreground = ${color.fg_alt}

label-occupied = 󰺕
label-occupied-padding = 1
label-occupied-background = ${color.bg_alt}
label-occupied-foreground = ${color.fg_alt}

label-urgent = 󰐾
label-urgent-padding = 1
label-urgent-background = ${color.bg_alt}
label-urgent-foreground = ${color.fg_alt}

label-empty = 󰄰
label-empty-padding = 1
label-empty-background = ${color.bg_alt}
label-empty-foreground = ${color.fg_alt}

#####################################################################

[module/suffix]
type = custom/text

content = 
content-foreground = ${color.bg_alt}

#####################################################################

[module/battery]
type = internal/battery
full-at = 100
battery = BAT0
adapter = AC0

poll-interval = 1

label-discharging = %percentage%%

animation-discharging-0 = 󱊡
animation-discharging-1 = 󱊢
animation-discharging-2 = 󱊣
animation-discharging-padding-left = 1
animation-discharging-framerate = 500

format-discharging = <animation-discharging><label-discharging>
format-discharging-background = ${color.warning}
format-discharging-foreground = ${color.fg_alt}
format-discharging-padding = 2

label-charging = %percentage%%

animation-charging-0 = 󱊤
animation-charging-1 = 󱊥
animation-charging-2 = 󱊦
animation-charging-padding-left = 1
animation-charging-framerate = 500

format-charging = <animation-charging><label-charging>
format-charging-padding = 2

label-full =
format-full = <label-full>

#####################################################################

[temperature-global]
type = internal/temperature
interval = 1

units = true

base-temperature = 25
warn-temperature = 85

ramp-0 = 󰔏
ramp-1 = 󰸅
ramp-2 = 󰸁
ramp-padding = 1

label =

format-warn = <ramp><label-warn>
format-warn-background = ${color.warning}
format-warn-foreground = ${color.fg_alt}
format-warn-padding = 2


[module/gpu-temp]
inherit = temperature-global
termal-zone = 0
hwmon-path = /sys/devices/virtual/thermal/thermal_zone0/hwmon1/temp1_input

label-warn = "GPU: %temperature-c%"


[module/cpu-temp]
inherit = temperature-global
termal-zone = 1
hwmon-path = /sys/devices/platform/coretemp.0/hwmon/hwmon2/temp1_input

label-warn = "CPU: %temperature-c%"

#####################################################################

[module/updates]
type = custom/script
exec = "dnf -q updateinfo --list --updates 2> /dev/null | wc -l"
interval = 1800

label = "󰆧  %output%"

format = <label>
format-padding = 2

######################################################################

[module/pulseaudio]
type = internal/pulseaudio
sink = alsa_output.pci-0000_00_1b.0.analog-stereo
interval = 2

label-muted = 󰖁
label-volume = %percentage%

ramp-volume-0 = 󰕿
ramp-volume-1 = 󰖀
ramp-volume-2 = 󰕾

format-volume = <ramp-volume> <label-volume>
click-right = pavucontrol &

format-volume-padding = 1
