include-file = $HOME/.config/polybar/themes/reversion.colors.cnf
include-file = $HOME/.config/polybar/modules.cnf

#####################################################################

[global]
font-0 = "Roboto:weight=bold:size=11;2"
font-1 = "Material Design Icons Desktop:size=14;4"
font-2 = "Powerline Extra Symbols:size=14;4"

locale = ru_RU.UTF-8

background = ${color.bg}
foreground = ${color.fg}
line-size = 2

#####################################################################

[bar/top]
inherit = global
width = 100%
height = 20
top = true

modules-left = bspwm title suffix
modules-center = date time
modules-right = cpu-temp gpu-temp battery xkeyboard wired wireless updates pulseaudio

#override-redirect = true
tray-position = right
tray-maxsize = 16
tray-padding = 2
tray-background = ${color.bg}
