# Default color theme

[color]

# color.bg sets the default background color for the bar. 
# It also sets the backgound for the suffixes and the prefixes
# which extend their background, as well as the foreground of 
# the dividers.
bg = #000000

# color.bg_alt sets the default background for the modules and the
# foreground for the suffixes and the prefixes which extend their
# background.
bg_alt = #3f51b5

# default foreground color, used by modules.
fg = #D7D7D7

# foreground color for window title and application launchers.
fg_alt = #D7D7D7

# color for warnings, here a shade of red.
warning = #f44336

# "normal state" color, used only be the battery module
# for format-charging-background.
normal = #3F51B5
