[Unit]
Description=LXPolKit
After=polkit.service

[Service]
Type=forking
ExecStart=/usr/bin/lxpolkit
Restart=always

[Install]
WantedBy=graphical.target
