[Unit]
Description=Backup user config files

[Service]
Type=oneshot
ExecStart=/home/stas/.local/bin/cfbackup.sh

[Install]
WantedBy=multi-user.target
